.c-box {
  --default-direction: column;

  display: flex;
  flex-direction: var(--default-direction);

  &.bg-darkblue {
    background-color: var(--c-darkblue);
  }

  @media screen and (min-width: 0) {
    .self-center {
      align-self: center;
    }

    &.direction-row {
      flex-direction: row;
    }

    &.direction-col {
      flex-direction: column;
    }

    &.h-1 {
      height: var(--spacing-1);
    }

    &.h-2 {
      height: var(--spacing-2);
    }

    &.h-3 {
      height: var(--spacing-3);
    }

    &.h-4 {
      height: var(--spacing-4);
    }

    &.h-5 {
      height: var(--spacing-5);
    }

    &.h-6 {
      height: var(--spacing-6);
    }

    &.h-7 {
      height: var(--spacing-7);
    }

    &.h-8 {
      height: var(--spacing-8);
    }

    &.h-9 {
      height: var(--spacing-9);
    }

    &.h-45 {
      height: var(--spacing-45);
    }

    &.h-76 {
      height: var(--spacing-76);
    }

    &.h-100 {
      height: var(--spacing-100);
    }

    &.h-150 {
      height: var(--spacing-150);
    }

    &.h-full {
      height: 100%;
    }

    &.h-screen {
      height: 100vh;
    }

    &.justify-center {
      justify-content: center;
    }

    &.hidden {
      display: none;
    }

    &.justify-between {
      justify-content: space-between;
    }

    &.justify-end {
      justify-content: flex-end;
    }

    &.inline-flex {
      display: inline-flex;
    }

    &.align-center {
      align-items: center;
    }

    &.relative {
      position: relative;
    }

    &.absolute {
      position: absolute;
    }

    &.fixed {
      position: fixed;
    }

    &.w-full {
      width: 100%;
    }

    &.w-100 {
      width: var(--spacing-100);
    }

    &.gap-1 {
      gap: var(--spacing-1);
    }

    &.gap-2 {
      gap: var(--spacing-2);
    }

    &.gap-3 {
      gap: var(--spacing-3);
    }

    &.gap-4 {
      gap: var(--spacing-4);
    }

    &.gap-5 {
      gap: var(--spacing-5);
    }

    &.gap-6 {
      gap: var(--spacing-6);
    }

    &.gap-7 {
      gap: var(--spacing-7);
    }

    &.gap-8 {
      gap: var(--spacing-8);
    }

    &.gap-9 {
      gap: var(--spacing-9);
    }

    &.gap-10 {
      gap: var(--spacing-10);
    }

    &.gap-12 {
      gap: var(--spacing-12);
    }

    &.gap-17 {
      gap: var(--spacing-17);
    }

    &.gap-20 {
      gap: var(--spacing-20);
    }

    &.gap-40 {
      gap: var(--spacing-40);
    }

    &.p-1 {
      padding: var(--spacing-1);
    }

    &.p-2 {
      padding: var(--spacing-2);
    }

    &.p-3 {
      padding: var(--spacing-3);
    }

    &.p-4 {
      padding: var(--spacing-4);
    }

    &.p-5 {
      padding: var(--spacing-5);
    }

    &.p-6 {
      padding: var(--spacing-6);
    }

    &.p-7 {
      padding: var(--spacing-7);
    }

    &.p-8 {
      padding: var(--spacing-8);
    }

    &.p-9 {
      padding: var(--spacing-9);
    }

    &.p-10 {
      padding: var(--spacing-10);
    }

    &.p-12 {
      padding: var(--spacing-12);
    }

    &.px-6 {
      padding-inline: var(--spacing-6);
    }

    &.px-4 {
      padding-inline: var(--spacing-4);
    }

    &.px-7 {
      padding-inline: var(--spacing-7);
    }

    &.px-8 {
      padding-inline: var(--spacing-8);
    }

    &.px-10 {
      padding-inline: var(--spacing-10);
    }

    &.px-38 {
      padding-inline: var(--spacing-38);
    }


    &.py-10 {
      padding-block: var(--spacing-10);
    }

    &.py-15 {
      padding-block: var(--spacing-15);
    }

    &.py-20 {
      padding-block: var(--spacing-20);
    }

    &.py-45 {
      padding-block: var(--spacing-45);
    }

    &.pt-8 {
      padding-top: var(--spacing-8);
    }


    &.h-76 {
      height: var(--spacing-76);
    }

    &.h-150 {
      height: var(--spacing-150);
    }

    &.h-190 {
      height: var(--spacing-190);
    }
  }

  @media screen and (min-width: 768px) {
    &.md\:order-1 {
      order: 1;
    }

    &.md\:direction-row {
      flex-direction: row;
    }

    &.md\:w-2\/3 {
      width: 66%;
    }

    &.md\:gap-0 {
      gap: 0;
    }

    &.md\:hidden {
      display: none;
    }

    &.md\:flex {
      display: flex;
    }

    &.md\:justify-between {
      justify-content: space-between;
    }

    &.md\:justify-end {
      justify-content: flex-end;
    }

    &.md\:inline-flex {
      display: inline-flex;
    }

    &.md\:align-center {
      align-items: center;
    }

    &.md\:align-start {
      align-items: start;
    }

    &.md\:justify-center {
      justify-content: center;
    }

    &.md\:h-1 {
      height: var(--spacing-1);
    }

    &.md\:h-2 {
      height: var(--spacing-2);
    }

    &.md\:h-3 {
      height: var(--spacing-3);
    }

    &.md\:h-4 {
      height: var(--spacing-4);
    }

    &.md\:h-5 {
      height: var(--spacing-5);
    }

    &.md\:h-6 {
      height: var(--spacing-6);
    }

    &.md\:h-7 {
      height: var(--spacing-7);
    }

    &.md\:h-8 {
      height: var(--spacing-8);
    }

    &.md\:h-9 {
      height: var(--spacing-9);
    }

    &.md\:h-10 {
      height: var(--spacing-10);
    }

    &.md\:h-2\/6 {
      height: 33%;
    }

    &.md\:h-auto {
      height: auto;
    }

    &.md\:h-full {
      height: full;
    }

    &.md\:w-full {
      width: 100%;
    }

    &.md\:gap-1 {
      gap: var(--spacing-1);
    }

    &.md\:gap-2 {
      gap: var(--spacing-2);
    }

    &.md\:gap-3 {
      gap: var(--spacing-3);
    }

    &.md\:gap-4 {
      gap: var(--spacing-4);
    }

    &.md\:gap-5 {
      gap: var(--spacing-5);
    }

    &.md\:gap-6 {
      gap: var(--spacing-6);
    }

    &.md\:gap-7 {
      gap: var(--spacing-7);
    }

    &.md\:gap-8 {
      gap: var(--spacing-8);
    }

    &.md\:gap-9 {
      gap: var(--spacing-9);
    }

    &.md\:gap-10 {
      gap: var(--spacing-10);
    }

    &.md\:gap-40 {
      gap: var(--spacing-40);
    }

    &.md\:p-1 {
      padding: var(--spacing-1);
    }

    &.md\:p-2 {
      padding: var(--spacing-2);
    }

    &.md\:p-3 {
      padding: var(--spacing-3);
    }

    &.md\:p-4 {
      padding: var(--spacing-4);
    }

    &.md\:p-5 {
      padding: var(--spacing-5);
    }

    &.md\:p-6 {
      padding: var(--spacing-6);
    }

    &.md\:p-7 {
      padding: var(--spacing-7);
    }

    &.md\:p-8 {
      padding: var(--spacing-8);
    }

    &.md\:p-9 {
      padding: var(--spacing-9);
    }

    &.md\:p-10 {
      padding: var(--spacing-10);
    }

    &.md\:p-20 {
      padding: var(--spacing-20);
    }

    &.md\:pt-40 {
      padding-top: var(--spacing-40);
    }

    &.md\:w-1\/2 {
      width: 50%;
    }
  }

  @media screen and (min-width: 1200px) {
    &.lg\:w-full {
      width: 100%;
    }

    &.lg\:direction-row {
      flex-direction: row;
    }
  }
}
