.c-button {
  font-size: var(--fs-base);
  cursor: pointer;
  transition: .3s;
  border: var(--spacing-1) solid var(--c-black);
  font-family: var(--ff-primary);
  text-align: center;

  &:hover {
    filter: brightness(0.9) !important;
  }

  &.variant-primary {
    background-color: var(--c-greenyellow);
    border-radius: 100px;
    filter: drop-shadow(var(--spacing-2) var(--spacing-2) 0px #000);
    padding: var(--spacing-8) var(--spacing-30);
  }

  &.variant-secondary {
    background-color: var(--c-white);
    color: var(--c-black);
    padding: var(--spacing-5) var(--spacing-7);
    border-radius: var(--spacing-6);

    &.active {
      background-color: var(--c-lightblue);
      color: var(--c-white);
      cursor: default;
    }
  }

  &.size-base {
    font-size: var(--fs-base);
  }

  &.size-lg {
    font-size: var(--spacing-15);
  }

  &.full {
    width: 100%;
  }
}
